body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    flex: 1;
    gap: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.column {
    border: 1px solid #757575;
    flex: 1;
}